@import "~bulma/sass/utilities/mixins";
@import "./variables";

// Click to scroll bounce animation
@-webkit-keyframes bounce {
  0%   {bottom: 16px;}
  40%  {bottom: 24px;}
  80%  {bottom: 16px;}
}

@keyframes bounce {
  0%   {bottom: 16px;}
  40%  {bottom: 24px;}
  80%  {bottom: 16px;}
}

// Fade in LA skyline animation
@-webkit-keyframes fadeIn {
  0%   {opacity: 0;}
  100%  {bottom: 1;}
}

@keyframes fadeIn {
  0%   {opacity: 0;}
  100%  {bottom: 1;}
}

.hero.is-primary {
  background: #1a1a1a;
  position: relative;

  .hero-body {
    z-index: 10;

    .logo {
      width: 90%;
      margin: 0 auto;

      @include until($tablet) {
        width: 40%;
      }

      @include mobile {
        width: 60%;
      }
    }

    .title {
      font-size: 4rem;
      font-weight: 700;
      font-family: $heading-font-family;
      margin: 0;

      @include until($desktop) {
        font-size: 3.5rem;
      }

      @include until($tablet) {
        font-size: 3rem;
        text-align: center;
      }

      @include mobile {
        font-size: 2.5rem;
      }
    }

    h2.title {
      font-size: 1.75rem;

      @include until($desktop) {
        font-size: 1.7rem;
      }

      @include until($tablet) {
        font-size: 1.5rem;
        text-align: center;
      }

      @include mobile {
        font-size: 1.3rem;
      }
    }

    .subtitle {
      margin-top: 0.5rem;
      font-size: 1.5rem;

      @include until($tablet) {
        font-size: 1.25rem;
        text-align: center;
      }

      @include mobile {
        font-size: 1rem;
      }
    }

    animation-name: fadeIn;
    animation-duration: 1.5s;
  }

  .click-down {
    position: absolute;
    width: 64px;
    height: 64px;
    bottom: 16px;
    left: 50vw;
    margin-left: -32px;
    z-index: 20;
    animation-name: bounce;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;

    &:hover {
      cursor: pointer;
    }

    @include until($tablet) {
      bottom: 8px;
      width: 32px;
      height: 32px;
      margin-left: -16px;
    }
  }
}
