.section {
  .title {
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 900;
    position: relative;
    margin-bottom: 3rem;

    &.details { color: #53A2FC; }
    &.faq { color: #6871F3; }
    &.sponsors { color: #774DED; }
    &.contact { color: #7F3AE9; }

    &::after {
      position: absolute;
      background: url("../assets/gray_flower_a.png");
      width: 360px;
      height: 306px;
      display: block;
      content: '';
      left: -180px;
      top: -150px;
      z-index: -10;
    }
  }

  &.right {
    .title {
      text-align: right;

      &::after {
        background: url("../assets/gray_flower_b.png");
        left: auto;
        right: -150px;
        top: -150px;
      }
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 2rem;
  }

  .coming-soon {
    font-size: 3.5rem;
    font-weight: 100;
    line-height: 4rem;
    font-style: italic;
    color: #CCCCCC;
  }

  &.faq {
    h3 {
      font-size: 1.25rem;
      line-height: 2rem;
      font-weight: 600;
      color: #53A2FC;
    }

    .question {
      margin-bottom: 2rem;
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    a {
      padding-left: 1rem;
      padding-right: 1rem;
      transition: 0.25s all;

      &:hover {
        opacity: 0.5;
      }

      img {
        width: 42px;
      }
    }
  }
}
