@import './variables';

.team-modal {
  h1 {
    font-size: 2rem;
    font-family: $heading-font-family;
    color: $primary;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.5rem;
    font-family: $heading-font-family;
    color: $secondary;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }
}

.modal-background {
  overflow: hidden;
}
