$family-sans-serif: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$section-padding: 12rem 1.5rem 5rem;
$footer-background-color: #2D2D2D;
$primary: #DF6C62;
$widescreen-enabled: false;
