* {
	box-sizing: border-box;
	margin: 0;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #000000;
	height: 150px;
	padding: 20px;
	color: white;
}

.seperator {
	background-color: white;
	height: 0.5vh;
}

.faq-container {
	padding-top: 10em;
	min-height: 100vh;
	width: 100vw;
	position: relative;
	background-color: black;
	background-image: url("assets/starbackground.jpg");
	background-repeat: no-repeat;
	position: relative;
	flex-direction: column;
	float: left;
	color: white;
}

.faq-container h1,
.sponsors h1 {
	vertical-align: middle;
	text-align: center;
	font-size: 5em;
	float: center;
}

.sponsors h2 {
	vertical-align: center;
	text-align: center;
	font-size: 5em;
	float: center;
}

.faq-header {
	margin-top: -1em;
	margin-bottom: 0.5em;
}

.sponsors h1 {
	margin-top: 1em;
}

.faq-event {
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 2em;
	float: left;
}

.faq-event h1 {
	text-align: left;
	font-size: 1.5em;
}

.track {
	height: 50vh;
	float: left;
}

.track h1 {
	padding-top: 10px;
	padding-left: 20px;
	font-size: 30px;
}

.track p {
	margin: 15px;
	font-size: 19px;
}

.la-sky-reverse {
	position: absolute;
	top: -100px;
	width: 100%;
	height: 20vh;
	opacity: 0.5;
	background-image: url("assets/laskylinereverse.png");
	background-repeat: repeat-x;
	background-position: center;
	background-size: contain;
}

.la-sky {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20vh;
	opacity: 0.5;
	background-image: url("assets/laskyline.png");
	background-repeat: repeat-x;
	background-position: center;
	background-size: contain;
}

.App-intro {
	font-size: large;
}

.splash {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: black;
	background-image: url("assets/starbackground.jpg");
	background-repeat: no-repeat;
	vertical-align: middle;
	display: block;
	float: left;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

.splash-content {
	color: white;
	font-size: 1em;
	width: 80%;
	float: center;
	margin: 0 auto;
	pointer-events: none;
	font-weight: normal;
	padding-bottom: 200px;
}

.splash-logo {
	padding-top: 20vh;
	width: 100%;
	height: 400px;
	float: left;
	background-image: url("assets/hacksclogo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.apply {
	width: 175px;
	height: 60px;
	background-color: yellow;
	font-family: "Space Mono", Monaco, Consolas, Courier-New, monospace;
	font-weight: bold;
	font-size: 24px;
	pointer-events: auto;
	border-color: white;
	border-style: solid;
	border-width: 2px;
}

button.apply:hover {
	background-color: white;
	border-color: yellow;
}

.sponsor {
	width: 175px;
	height: 60px;
	background-color: transparent;
	font-family: "Space Mono", Monaco, Consolas, Courier-New, monospace;
	font-weight: bold;
	font-size: 24px;
	pointer-events: auto;
	border-style: none;
	border-width: 0px;
	color: white;
}

button.sponsor:hover {
	text-decoration: underline;
}

.sponsors {
	padding-top: 2em;
	padding-bottom: 2em;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	color: black;
	background: white;
	vertical-align: middle;
	display: block;
	float: left;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

@media only screen and (min-width: 768px) {
	.splash-logo {
		padding-right: 50px;
		margin-top: 10vh;
		margin-left: 70px;
		width: 40%;
		height: 400px;
		float: left;
		background-image: url("assets/hacksclogovertical.png");
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
	}

	.splash-content {
		color: white;
		padding-top: 20vh;
		font-size: 1em;
		width: 40%;
		float: left;
		pointer-events: none;
		font-weight: normal;
	}

	.la-sky-reverse {
		position: absolute;
		top: 0;
		width: 100%;
		height: 20vh;
		opacity: 0.5;
		background-image: url("assets/laskylinereverse.png");
		background-repeat: repeat;
		background-position: center;
		background-size: contain;
	}

	.la-sky {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20vh;
		opacity: 0.5;
		background-image: url("assets/laskyline.png");
		background-repeat: repeat;
		background-position: center;
		background-size: contain;
	}

	.la-sky:after {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		pointer-events: none;
		background-image: linear-gradient(to bottom,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 1) 90%);
		width: 100%;
		height: 4em;
	}

	.la-sky-reverse:after {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		pointer-events: none;
		background-image: linear-gradient(to top,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 1) 90%);
		width: 100%;
		height: 4em;
	}

	.faq-header,
	.sponsors h1 {
		margin-top: 0em;
		margin-left: 0.5em;
		margin-bottom: 0.5em;
	}

	.faq-container h1,
	.sponsors h1 {
		vertical-align: middle;
		text-align: center;
		font-size: 5em;
		float: left;
	}

	.faq-event {
		padding-left: 3em;
		padding-right: 3em;
		margin-bottom: 2em;
		float: left;
	}

	.faq-event h1 {
		text-align: left;
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 1000px) {
	.splash-logo {
		margin-top: 10vh;
		width: 40%;
		height: 400px;
		float: left;
		background-image: url("assets/hacksclogovertical.png");
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
	}

	.splash-content {
		color: white;
		padding-top: 20vh;
		font-size: 1em;
		width: 35%;
		float: left;
		pointer-events: none;
		font-weight: normal;
	}

	.la-sky-reverse {
		position: absolute;
		top: 0;
		width: 100%;
		height: 20vh;
		opacity: 0.5;
		background-image: url("assets/laskylinereverse.png");
		background-repeat: repeat;
		background-position: center;
		background-size: contain;
	}

	.la-sky {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20vh;
		opacity: 0.5;
		background-image: url("assets/laskyline.png");
		background-repeat: repeat;
		background-position: center;
		background-size: contain;
	}

	.la-sky:after {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		pointer-events: none;
		background-image: linear-gradient(to bottom,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 1) 90%);
		width: 100%;
		height: 4em;
	}

	.la-sky-reverse:after {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		pointer-events: none;
		background-image: linear-gradient(to top,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 1) 90%);
		width: 100%;
		height: 4em;
	}

	.la-moon {
		position: absolute;
		bottom: 40vh;
		left: 80vw;
		height: 150px;
		width: 150px;
		opacity: 0.5;
		background-image: url("assets/lamoon.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.faq-header,
	.sponsors h1 {
		margin-top: 0em;
		margin-left: 1em;
	}

	.faq-container h1,
	.sponsors h1 {
		vertical-align: middle;
		text-align: center;
		font-size: 5em;
		float: left;
	}

	.faq-event {
		padding-left: 5em;
		padding-right: 0em;
		margin-bottom: 2em;
		float: left;
	}

	.faq-event h1 {
		text-align: left;
		font-size: 1.5em;
	}
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 1000px) {

	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}

	.col-2 {
		width: 16.66%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-5 {
		width: 41.66%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.33%;
	}

	.col-8 {
		width: 66.66%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {
		width: 83.33%;
	}

	.col-11 {
		width: 91.66%;
	}

	.col-12 {
		width: 100%;
	}
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.sign-up-form {}

.sign-up-button {
	width: 100px;
	height: 30px;
	background-color: yellow;
	font-family: "Space Mono", Monaco, Consolas, Courier-New, monospace;
	font-weight: bold;
	font-size: 24px;
	pointer-events: auto;
	border-color: white;
	border-style: solid;
	border-width: 2px;
}

#mc_embed_signup {
	width: 100%;
}

#mc-embedded-subscribe {
	width: 175px;
	height: 60px;
	background-color: yellow;
	font-family: "Space Mono", Monaco, Consolas, Courier-New, monospace;
	font-weight: bold;
	font-size: 24px;
	pointer-events: auto;
	border-color: white;
	border-style: solid;
	border-width: 2px;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
