html {
	max-width: 100%;
}

html {
	font-family: 'Space Mono', Monaco, Consolas, Courier-New, monospace;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	/* FONT OPTIMIZATION */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
}
